<RadzenButton Icon="visibility"
              Disabled="@IsDisabled"
              Size="ButtonSize.ExtraSmall"
              MouseEnter="@(args => AppTooltipService.ShowTooltip(args, $"View {nameof(RequirementsSpecification)}"))"
              ButtonStyle="ButtonStyle.Light" Click="@ViewInlineDialog" Style="color: blue;"/>

@code {
    private RequirementsSpecification _requirements = new();


    [Parameter] public bool IsDisabled { get; set; } = false;

    [EditorRequired] [Parameter] public int Id { get; set; }

    async Task ViewInlineDialog()
    {
        _requirements = await RequirementsSpecificationModel.GetRequirementsSpecificationByIdAsync(Id);

        await DialogService.OpenAsync($"View {nameof(RequirementsSpecification)}", ds =>
                @<div>
                    <p>ID: @_requirements.Id</p>
                    <p>Name: @_requirements.Name</p>
                    <p>Description: @_requirements.Description</p>
                    <p>Created At: @_requirements.CreatedAt</p>
                    <p>Modified At: @_requirements.ModifiedAt</p>
                    <p>Created By: @_requirements.CreatedBy</p>
                    <p>Modified By: @_requirements.ModifiedBy</p>

                </div>,
            new DialogOptions { CloseDialogOnOverlayClick = true, Draggable = true, CloseDialogOnEsc = true });
    }

}