@page "/project/{ProjectId:int}/testplans"
@rendermode InteractiveServer
@attribute [Authorize]

@if (_isLoading)
{
    <ProgressBar/>
}
else
{
    <RadzenDataGrid AllowFiltering="true"
                    AllowColumnResize="true"
                    AllowColumnReorder="true"
                    AllowAlternatingRows="true"
                    FilterMode="FilterMode.Advanced"
                    AllowSorting="true"
                    AllowPaging="true"
                    AllowColumnPicking="true"
                    PagerHorizontalAlign="HorizontalAlign.Left"
                    ShowPagingSummary="true"
                    AllowVirtualization="true"
                    Data="@_testplans"
                    ColumnWidth="auto"
                    LogicalFilterOperator="LogicalFilterOperator.Or"
                    SelectionMode="DataGridSelectionMode.Single"
                    @bind-Value="@_selectedTestPlans"
                    @bind-Settings="@DataGridSettingsService.Settings"
                    @ref="_dataGrid"
                    PageSizeOptions="@_pageSizeOptions"
                    Density="Density.Compact">

        <HeaderTemplate>
            <RadzenButton Text="Test Plan"
                          data-testid="create_testplan"
                          Click='() => NavigationManager.NavigateTo($"/project/{ProjectId}/testplans/create")'
                          Size="ButtonSize.Medium"
                          Icon="add"/>
            <RadzenButton Icon="autorenew"
                          MouseEnter="@(args => AppTooltipService.ShowTooltip(args, "Show All"))"
                          MouseLeave="@AppTooltipService.HideTooltip"
                          Size="ButtonSize.Medium" Click=@(() => DataGridSettingsService.ClearSettingsAsync())/>

            <DeleteallDataForModel EntityName="@(nameof(TestPlans))" EntityList="_testplans"/>
            <RadzenButton Icon="assessment"
                          MouseEnter="@(args => AppTooltipService.ShowTooltip(args, "Make Assessment"))"
                          MouseLeave="@AppTooltipService.HideTooltip"
                          Click='() => NavigationManager.NavigateTo($"project/{ProjectId}/testplans/manage")'/>
            <ExportGridDataCsv Grid="_dataGrid"/>

            <UploadTestPlansCsv OnUploadCompleted="RefreshData" ProjectId="ProjectId"/>

        </HeaderTemplate>
        <Columns>
            <RadzenDataGridColumn Property="@nameof(TestPlans.Id)" Filterable="false" Title="ID" Frozen="true"
                                  Width="80px" TextAlign="TextAlign.Center"/>
            <RadzenDataGridColumn Property="@nameof(TestPlans.Name)" Title="Name" Frozen="true" Width="auto"/>
            <RadzenDataGridColumn Property="@nameof(TestPlans.Description)" Title="Description" Width="auto"/>
            <RadzenDataGridColumn Property="@nameof(TestPlans.Priority)" Title="Priority" Width="auto">
                <Template Context="ctx">
                    <RadzenBadge BadgeStyle="@StylesService.GetBadgeStylePriority(ctx.Priority)">
                        @ctx.Priority
                    </RadzenBadge>
                </Template>
            </RadzenDataGridColumn>
            @*   <RadzenDataGridColumn Property="@nameof(TestPlans.CreatedAt)" Title="Created At" Width="auto"/> *@
            @*  <RadzenDataGridColumn Property="@nameof(TestPlans.ModifiedAt)" Title="Modified At" Width="auto"/> *@
            <RadzenDataGridColumn Property="@nameof(TestPlans.CreatedBy)" Title="Created By" Width="auto"/>
            <RadzenDataGridColumn Property="@nameof(TestPlans.ModifiedBy)" Title="Modified By" Width="auto"/>
            <RadzenDataGridColumn Title="Test Cases" Width="auto">
                <Template Context="testplan">
                    @if (testplan.LinkedTestCases.Any())
                    {
                        var testcasesLinks = testplan.LinkedTestCases
                            .Select(testcase => $"<a href=\"project/{testplan.ProjectsId}/testcases/view/{testcase.Id}\">{testcase.Name}</a>")
                            .ToList();

                        @((MarkupString)string.Join(", ", testcasesLinks))
                    }
                    else
                    {
                        <span style="color: red;">No Test cases</span>
                    }
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Property="@nameof(TestPlans.WorkflowStatus)" Title="Status" Width="auto">
                <Template Context="testplan">
                    <RadzenBadge BadgeStyle="@StylesService.GetBadgeStyleWorkflowStatus(testplan.WorkflowStatus)">
                        @testplan.WorkflowStatus
                    </RadzenBadge>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Property="@nameof(TestPlans.AssignedTo)" Title="Assigned To" Width="auto">
                <Template Context="testplan">
                    @Task.Run(async () => await UserService.GetUserNameFromUserIdAsync(testplan.AssignedTo)).Result
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Property="@nameof(TestPlans.ArchivedStatus)" Title="Is Archived" Width="auto">
                <Template Context="ctx">
                    <RadzenBadge BadgeStyle="@StylesService.GetBadgeStyleArchivedStatus(ctx.ArchivedStatus)">
                        @ctx.ArchivedStatus
                    </RadzenBadge>
                </Template>
            </RadzenDataGridColumn>
            <IndexActions TItem="TestPlans" EntityName="TestPlans" ProjectId="ProjectId"
                          OnActionExecuted="RefreshData"/>

        </Columns>

    </RadzenDataGrid>
}


@code {
    [Parameter] public int ProjectId { get; set; }

    private IEnumerable<TestPlans>? _testplans;

    private IList<TestPlans> _selectedTestPlans = [];
    readonly IEnumerable<int> _pageSizeOptions = [10, 20, 30, 40, 50];

    private readonly string _gridId = "testplans"; // Unique identifier for this grid

    private bool _isLoading = true;

    private RadzenDataGrid<TestPlans> _dataGrid = new();


    protected override async Task OnInitializedAsync()
    {
        DataGridSettingsService.SetCurrentGridId(_gridId);
        await RefreshData();
        _isLoading = false;
    }

    async Task RefreshData()
    {
        _testplans = await TestPlansModel.DisplayTestPlansIndexPage(ProjectId);
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await DataGridSettingsService.LoadSettingsAsync();
        }
    }

}