@page "/project/{ProjectId:int}/testplans/manage"
@using WebApp.Components
@rendermode InteractiveServer
@attribute [Authorize]

<AlertTitle TitleText="Managing Test Plans"/>


<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween">
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Start">
        <RadzenButton Icon="assignment_ind"
                      data-testid="my_assignment"
                      Text="My Assignments" Click="RefreshAssignedTestPlans"/>
        <RadzenButton Icon="assignment"
                      data-testid="all_assignment"
                      Text="All Test Plans" Click="RefreshAllTestPlans"/>
        <RadzenTextBox Placeholder="Search test plans..."
                       Change=@(args => SearchTestCases(args))
                       style="width: 300px"/>
    </RadzenStack>
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.End">
        <TestPlansDialogCreate Title="@Loc["create.testplans"]" ProjectId="@ProjectId"
                               OnTestPlanCreated="RefreshAssignedTestPlansFromDialog"/>
        <RadzenButton Icon="list"
                      Click='@(() => NavigationManager.NavigateTo($"/project/{ProjectId}/testplans", true))'/>
    </RadzenStack>

</RadzenStack>


<RadzenDropZoneContainer TItem="TestPlans" Data="_filteredtestplansData"
                         ItemSelector="@ItemSelector"
                         ItemRender="WkfManagementCardColor.OnItemRender<TestPlans>"
                         CanDrop="@CanDrop"
                         Drop="@OnDrop">
    <ChildContent>
        <RadzenStack Orientation="Orientation.Horizontal" Gap="1rem" Wrap="FlexWrap.Wrap" class="rz-p-12">
            <RadzenDropZone Value="WorkflowStatus.New"
                            class="rz-display-flex rz-flex-column rz-background-color-warning-lighter rz-border-warning-light rz-border-radius-2 rz-p-4"
                            Style="flex: 1; gap: 1rem;">
                <RadzenText Text="New" TextStyle="TextStyle.Subtitle2"/>
            </RadzenDropZone>

            <RadzenDropZone Value="WorkflowStatus.InReview"
                            class="rz-display-flex rz-flex-column rz-background-color-info-lighter rz-border-info-light rz-border-radius-2 rz-p-4"
                            Style="flex: 1; gap: 1rem;">
                <RadzenText Text="In Review" TextStyle="TextStyle.Subtitle2"/>
            </RadzenDropZone>

            <RadzenDropZone Value="WorkflowStatus.Completed"
                            class="rz-display-flex rz-flex-column rz-background-color-success-lighter rz-border-success-light rz-border-radius-2 rz-p-4"
                            Style="flex: 1; gap: 1rem;">
                <RadzenText Text="Completed" TextStyle="TextStyle.Subtitle2"/>
            </RadzenDropZone>

            <RadzenDropZone Value="WorkflowStatus.Reopened"
                            class="rz-display-flex rz-flex-column rz-background-color-danger-lighter rz-border-danger-light rz-border-radius-2 rz-p-4"
                            Style="flex: 1; gap: 1rem;">
                <RadzenText Text="Reopened" TextStyle="TextStyle.Subtitle2"/>
            </RadzenDropZone>
        </RadzenStack>
    </ChildContent>
    <Template>
        <RadzenStack Orientation="Orientation.Vertical" Gap="1rem">
            <RadzenStack Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap">
                <strong>@context.Name</strong>
                <RadzenBadge BadgeStyle="@StylesService.GetBadgeStylePriority(context.Priority)">
                    @context.Priority
                </RadzenBadge>
                <RadzenStack Orientation="Orientation.Vertical">
                    <p>
                        @Task.Run(async () => await UserService.GetUserNameFromUserIdAsync(context.AssignedTo)).Result
                    </p>
                </RadzenStack>

            </RadzenStack>
        </RadzenStack>
    </Template>
</RadzenDropZoneContainer>

@code {
    [Parameter] public int ProjectId { get; set; }


    private async Task RefreshAssignedTestPlansFromDialog()
    {
        await using var db = await DbContext.CreateDbContextAsync();
        _testplansData = await db.TestPlans.Where(rp => rp.ProjectsId == ProjectId).ToListAsync();
    }


    private IList<TestPlans>? _testplansData = [];
    private IList<TestPlans>? _filteredtestplansData = [];

    Func<TestPlans, RadzenDropZone<TestPlans>, bool> ItemSelector = (item, zone) => item.WorkflowStatus == (WorkflowStatus)zone.Value;

    Func<RadzenDropZoneItemEventArgs<TestPlans>, bool> CanDrop = request =>
    {
        return request.FromZone == request.ToZone ||
               Math.Abs((int)request.Item.WorkflowStatus - (int)request.ToZone.Value) == 1;
    };



    async void OnDrop(RadzenDropZoneItemEventArgs<TestPlans> args)
    {
        if (args.FromZone != args.ToZone)
        {
            args.Item.WorkflowStatus = (WorkflowStatus)args.ToZone.Value;

            args.Item.ArchivedStatus = args.Item.WorkflowStatus switch
            {
                WorkflowStatus.Completed => ArchivedStatus.Archived,
                WorkflowStatus.InReview => ArchivedStatus.Active,
                WorkflowStatus.Reopened => ArchivedStatus.Active,
                WorkflowStatus.New => ArchivedStatus.Active,
                _ => args.Item.ArchivedStatus
            };

            await using var db = await DbContext.CreateDbContextAsync();
            args.Item.ModifiedBy = UserService.GetCurrentUserNameAsync().Result;
            db.TestPlans.Update(args.Item);
            await db.SaveChangesAsync();
        }

        if (args.ToItem == null || args.ToItem == args.Item) return;
        _testplansData?.Remove(args.Item);
        _testplansData?.Insert(_testplansData.IndexOf(args.ToItem), args.Item);
    }

    protected override async Task OnInitializedAsync()
    {
        await using var db = await DbContext.CreateDbContextAsync();
        _testplansData = await db.TestPlans.Where(rp => rp.ProjectsId == ProjectId).ToListAsync();
        _filteredtestplansData = _testplansData;
    }

    private async Task<List<TestPlans>> GetTestPlansAssignedToAll()
    {
        await using var db = await DbContext.CreateDbContextAsync();
        return await db.TestPlans.Where(rp => rp.ProjectsId == ProjectId).ToListAsync();
    }


    private async Task<List<TestPlans>> GetTestPlansAssignedToCurrentUser()
    {
        await using var db = await DbContext.CreateDbContextAsync();
        return await db.TestPlans.Where(rp => rp.ProjectsId == ProjectId && rp.AssignedTo == UserService.GetCurrentUserInfoAsync().Result.UserId).ToListAsync();
    }

    private async Task RefreshAssignedTestPlans()
    {
        _testplansData = await GetTestPlansAssignedToCurrentUser();
        _filteredtestplansData = _testplansData;
        StateHasChanged();
    }

    private async Task RefreshAllTestPlans()
    {
        _testplansData = await GetTestPlansAssignedToAll();
        _filteredtestplansData = _testplansData;

        StateHasChanged();
    }

    private string _searchTerm = "";

    private void SearchTestCases(string searchTerm)
    {
        _searchTerm = searchTerm?.ToLower() ?? "";
        if (string.IsNullOrWhiteSpace(_searchTerm))
        {
            _filteredtestplansData = _testplansData;
        }
        else
        {
            _filteredtestplansData = _testplansData?
                .Where(r => r.Name != null && r.Name.ToLower().Contains(_searchTerm))
                .ToList();
        }

        StateHasChanged();
    }

}