@page "/project/{ProjectId:int}/testplans/manage"
@rendermode InteractiveServer
@attribute [Authorize]
@inject ILogger<ManageTestPlansWkf> Logger

<TestPlansDialogView @ref="_testPlansDialogView" Id="-1" ProjectId="@ProjectId"/>
<TestPlansDialogEdit @ref="_testPlansDialogEdit" Id="-2" ProjectId="@ProjectId"
                     OnTestPlanUpdated="RefreshAllTestPlans"/>

<AlertTitle TitleText="Managing Test Plans"/>


<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween">
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Start">
        <RadzenButton Icon="assignment_ind"
                      data-testid="my_assignment"
                      Text="My Assignments" Click="RefreshAssignedTestPlans"/>
        <RadzenButton Icon="assignment"
                      data-testid="all_assignment"
                      Text="All Test Plans" Click="RefreshAllTestPlans"/>
        <RadzenTextBox Placeholder="Search test plans..."
                       Change=@(args => SearchTestCases(args))
                       style="width: 300px"/>
    </RadzenStack>
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.End">
        <TestPlansDialogCreate Title="@Loc["create.testplans"]" ProjectId="@ProjectId"
                               OnTestPlanCreated="RefreshAssignedTestPlansFromDialog"/>
        <RadzenButton Icon="list"
                      Click='@(() => NavigationManager.NavigateTo($"/project/{ProjectId}/testplans", true))'/>
    </RadzenStack>

</RadzenStack>


<RadzenDropZoneContainer TItem="TestPlans" Data="_filteredtestplansData"
                         ItemSelector="@ItemSelector"
                         ItemRender="WkfManagementCardColor.OnItemRender<TestPlans>"
                         CanDrop="@CanDrop"
                         Drop="@OnDrop">
    <ChildContent>
        <RadzenStack Orientation="Orientation.Horizontal" Gap="1rem" Wrap="FlexWrap.Wrap" class="rz-p-12">
            <RadzenDropZone Value="WorkflowStatus.New"
                            class="rz-display-flex rz-flex-column rz-background-color-warning-lighter rz-border-warning-light rz-border-radius-2 rz-p-4"
                            Style="flex: 1; gap: 1rem;">
                <RadzenText Text="New" TextStyle="TextStyle.Subtitle2"/>
            </RadzenDropZone>

            <RadzenDropZone Value="WorkflowStatus.InReview"
                            class="rz-display-flex rz-flex-column rz-background-color-info-lighter rz-border-info-light rz-border-radius-2 rz-p-4"
                            Style="flex: 1; gap: 1rem;">
                <RadzenText Text="In Review" TextStyle="TextStyle.Subtitle2"/>
            </RadzenDropZone>

            <RadzenDropZone Value="WorkflowStatus.Completed"
                            class="rz-display-flex rz-flex-column rz-background-color-success-lighter rz-border-success-light rz-border-radius-2 rz-p-4"
                            Style="flex: 1; gap: 1rem;">
                <RadzenText Text="Completed" TextStyle="TextStyle.Subtitle2"/>
            </RadzenDropZone>

            <RadzenDropZone Value="WorkflowStatus.Reopened"
                            class="rz-display-flex rz-flex-column rz-background-color-danger-lighter rz-border-danger-light rz-border-radius-2 rz-p-4"
                            Style="flex: 1; gap: 1rem;">
                <RadzenText Text="Reopened" TextStyle="TextStyle.Subtitle2"/>
            </RadzenDropZone>
        </RadzenStack>
    </ChildContent>
    <Template>
        <RadzenStack Orientation="Orientation.Vertical" Gap="1rem"
                     ContextMenu="args => OpenContextMenuForCard(args,context.Id)">
            <RadzenStack Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap">
                <strong>@context.Name</strong>
                <RadzenBadge BadgeStyle="@StylesService.GetBadgeStylePriority(context.Priority)">
                    @context.Priority
                </RadzenBadge>
                <RadzenStack Orientation="Orientation.Vertical">
                    <p>
                        @Task.Run(async () => await UserService.GetUserNameFromUserIdAsync(context.AssignedTo)).Result
                    </p>
                </RadzenStack>

            </RadzenStack>
        </RadzenStack>
    </Template>
</RadzenDropZoneContainer>

@code {
    [Parameter] public int ProjectId { get; set; }
    private TestPlansDialogView _testPlansDialogView = null!;
    private TestPlansDialogEdit _testPlansDialogEdit = null!;

    private async Task RefreshAssignedTestPlansFromDialog()
    {
        _testplansData = await TestPlansModel.GetTestPlans(ProjectId);
        await InvokeAsync(StateHasChanged);
    }


    private IList<TestPlans>? _testplansData = [];
    private IList<TestPlans>? _filteredtestplansData = [];

    Func<TestPlans, RadzenDropZone<TestPlans>, bool> ItemSelector = (item, zone) => item.WorkflowStatus == (WorkflowStatus)zone.Value;

    Func<RadzenDropZoneItemEventArgs<TestPlans>, bool> CanDrop = request =>
    {
        return request.FromZone == request.ToZone ||
               Math.Abs((int)request.Item.WorkflowStatus - (int)request.ToZone.Value) == 1;
    };



    async void OnDrop(RadzenDropZoneItemEventArgs<TestPlans> args)
    {
        if (args.FromZone != args.ToZone)
        {
            args.Item.WorkflowStatus = (WorkflowStatus)args.ToZone.Value;

            args.Item.ArchivedStatus = args.Item.WorkflowStatus switch
            {
                WorkflowStatus.Completed => ArchivedStatus.Archived,
                WorkflowStatus.InReview => ArchivedStatus.Active,
                WorkflowStatus.Reopened => ArchivedStatus.Active,
                WorkflowStatus.New => ArchivedStatus.Active,
                _ => args.Item.ArchivedStatus
            };

            await TestPlansModel.UpdateCardOnDragDrop(args);
        }

        if (args.ToItem == null || args.ToItem == args.Item) return;
        _testplansData?.Remove(args.Item);
        _testplansData?.Insert(_testplansData.IndexOf(args.ToItem), args.Item);
    }


    protected override async Task OnInitializedAsync()
    {
        _testplansData = await TestPlansModel.GetTestPlans(ProjectId);
        _filteredtestplansData = _testplansData;
    }


    private async Task RefreshAssignedTestPlans()
    {
        _testplansData = await TestPlansModel.GetTestPlansAssignedToCurrentUser(ProjectId);
        _filteredtestplansData = _testplansData;
        StateHasChanged();
    }

    private async Task RefreshAllTestPlans()
    {
        _testplansData = await TestPlansModel.GetTestPlans(ProjectId);
        _filteredtestplansData = _testplansData;

        StateHasChanged();
    }

    private string _searchTerm = "";

    private void SearchTestCases(string searchTerm)
    {
        _searchTerm = searchTerm?.ToLower() ?? "";
        if (string.IsNullOrWhiteSpace(_searchTerm))
        {
            _filteredtestplansData = _testplansData;
        }
        else
        {
            _filteredtestplansData = _testplansData?
                .Where(r => r.Name != null && r.Name.ToLower().Contains(_searchTerm))
                .ToList();
        }

        StateHasChanged();
    }

    private async Task OpenContextMenuForCard(MouseEventArgs args, int id)
    {
        var testPlans = _filteredtestplansData?.FirstOrDefault(r => r.Id == id);
        if (testPlans == null) return;


        var menuItems = new List<ContextMenuItem>();
        menuItems.Add(new ContextMenuItem { Text = "View Test Plan", Icon = "visibility", Value = "view" });
        menuItems.Add(new ContextMenuItem { Text = "Edit Test Plan", Icon = "edit", Value = "edit" });

        if (testPlans.WorkflowStatus != WorkflowStatus.Completed)
        {
            menuItems.Add(new ContextMenuItem { Text = "Delete Test Plan", Icon = "delete", Value = "delete" });
        }

        ContextMenuService.Open(args, menuItems, async e =>
        {
            switch (e.Value)
            {
                case "view":
                    await ViewCard(id);
                    break;
                case "edit":
                    await EditCard(id);
                    break;
                case "delete":
                    await DeleteCard(testPlans);
                    break;
            }
        });
        await Task.CompletedTask;
    }

    private async Task ViewCard(int id)
    {
        await _testPlansDialogView.SetParametersAsync(ParameterView.FromDictionary(new Dictionary<string, object?>
            {
                { nameof(_testPlansDialogView.Id), id }
            })
        );
        await _testPlansDialogView.ViewInlineDialog();
        ContextMenuService.Close();
    }

    private async Task EditCard(int id)
    {
        Logger.LogInformation($"editing {id}");
        await _testPlansDialogEdit.SetParametersAsync(
            ParameterView.FromDictionary(new Dictionary<string, object?>
            {
                { nameof(_testPlansDialogEdit.Id), id }
            })
        );
        await _testPlansDialogEdit.ShowInlineDialog();
        ContextMenuService.Close();
    }

    private async Task DeleteCard(TestPlans testPlans)
    {
        Logger.LogInformation("deleting {tp}", testPlans);
        ContextMenuService.Close();

        await using var db = await DbContext.CreateDbContextAsync();

        var confirmed = await DialogService.Confirm($"Are you sure you want to delete this Test Plan?", $"Delete Test Plan");

        if (confirmed is true)
        {
            db.TestPlans.Remove(testPlans);
            await db.SaveChangesAsync();
        }

        await RefreshAllTestPlans();
    }

}