@page "/integrations/view/{Id:int}"

@attribute [Authorize]
@rendermode InteractiveServer
@inject ILogger<View> Logger
@attribute [Authorize(Roles = "Admin")]

<AlertTitle TitleText=@($"View Integration {Id}")/>

<RadzenCard Style="width: 50%; padding: 20px; margin-bottom:20px">
    <RadzenStack Orientation="Orientation.Vertical">
        <RadzenStack Orientation="Orientation.Horizontal">
            <RadzenLabel Text="Id:" Style="font-weight: bold;"/>
            <RadzenLabel Text="@Integrations.Id.ToString()"/>
        </RadzenStack>

        <RadzenStack Orientation="Orientation.Horizontal">

            <RadzenLabel Text="Integration Type:" Style="font-weight: bold;"/>
            <RadzenBadge BadgeStyle="BadgeStyle.Info" Text="@Integrations.IntegrationType.ToString()"/>
        </RadzenStack>

        <RadzenStack Orientation="Orientation.Horizontal">

            <RadzenLabel Text="Base Url:" Style="font-weight: bold;"/>
            <RadzenLabel Text="@Integrations.BaseUrl"/>
        </RadzenStack>

        <RadzenStack Orientation="Orientation.Horizontal">

            <RadzenLabel Text="Username:" Style="font-weight: bold;"/>
            <RadzenLabel Text="@Integrations.Username"/>
        </RadzenStack>

        <RadzenStack Orientation="Orientation.Horizontal">

            <RadzenLabel Text="Api Key" Style="font-weight: bold;"/>
            <RadzenLabel Text="@Integrations.ApiKey"/>
        </RadzenStack>

        <RadzenStack Orientation="Orientation.Horizontal">
            <RadzenLabel Text="Unique Identifier Key" Style="font-weight: bold;"/>
            <RadzenLabel Text="@Integrations.UniqueKey"/>
        </RadzenStack>

        <RadzenStack Orientation="Orientation.Horizontal">
            <RadzenLabel Text="Integration Type" Style="font-weight: bold;"/>
            <RadzenLabel Text="@Integrations.IntegrationType.ToString()"/>
        </RadzenStack>
        
        <RadzenStack Orientation="Orientation.Horizontal">
            <RadzenLabel Text="Project" Style="font-weight: bold;"/>
            <RadzenLabel Text="@Integrations.ProjectsId.ToString()"/>
        </RadzenStack>
    </RadzenStack>


</RadzenCard>

<div style="margin-top: 10px;">
    <RadzenButton Text="Edit" Click='() => NavigationManager.NavigateTo($"/integrations/edit/{Id}")'/>
    <RadzenButton Text="Back" Click='() => NavigationManager.NavigateTo("/integrations")'/>
</div>


@code {
    [Parameter] public int Id { get; set; }

    private Integrations Integrations { get; set; } = new();


    protected override async Task OnInitializedAsync()
    {
        Integrations = await IntegrationsModel.GetIntegrationByIdAsync(Id);
        Logger.LogInformation("Integration was viewed");
    }

}