@page "/project/{ProjectId:int}/requirements/edit/{Id:int}"
@rendermode InteractiveServer


@if (_isLoading)
{
    <ProgressBar/>
}
else
{
    <h3 class="text-center text-primary mb-4">Edit Requirement</h3>

    <RadzenTemplateForm Data="@_requirements" Submit="@UpdateRequirement" TItem="Requirements">
        <ValidationSummary class="alert alert-danger"/>

        <RadzenTabs RenderMode="TabRenderMode.Client" @bind-SelectedIndex="@_selectedIndex">
            <Tabs>
                <RadzenTabsItem Text="Requirement">
                    <RadzenFieldset Text="Requirement Details">
                        <div class="container-fluid p-0">
                            <div class="row mb-4">
                                <div class="col-12">
                                    <RadzenLabel Text="Name"/>
                                    <RadzenTextBox class="w-100"
                                                   data-testid="requirement_name"
                                                   @bind-Value="_requirements.Name"
                                                   Name="name"/>
                                    <RadzenRequiredValidator Component="name" Text="Name is required"/>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-12">
                                    <RadzenLabel Text="Description"/>
                                    <RadzenTextArea class="w-100"
                                                    data-testid="requirement_description"
                                                    @bind-Value="_requirements.Description"
                                                    Name="description"/>
                                    <RadzenRequiredValidator Component="description" Text="Description is required"/>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-12">
                                    <RadzenLabel Text="Priority"/>
                                    <RadzenDropDown class="w-100"
                                                    data-testid="requirement_priority"
                                                    Data="EnumService.GetEnumValues<Priority>()"
                                                    @bind-Value="_requirements.Priority"
                                                    Name="priority"/>
                                    <RadzenRequiredValidator Component="priority" Text="Priority is required"/>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-12">
                                    <RadzenLabel Text="Status"/>
                                    <RadzenDropDown class="w-100"
                                                    data-testid="requirement_status"
                                                    Data="EnumService.GetEnumValues<WorkflowStatus>()"
                                                    @bind-Value="_requirements.WorkflowStatus"
                                                    Name="status"/>
                                    <RadzenRequiredValidator Component="status" Text="Workflow Status is required"/>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-12">
                                    <RadzenLabel Text="Assigned To"/>
                                    <RadzenDropDown class="w-100"
                                                    data-testid="requirement_assignedto"
                                                    Data="@_usersList"
                                                    @bind-Value="_requirements.AssignedTo"
                                                    TextProperty="UserName"
                                                    ValueProperty="Id"
                                                    Name="assignedto"/>
                                    <RadzenRequiredValidator Component="assignedto" Text="User assignment is required"/>
                                </div>
                            </div>
                        </div>
                    </RadzenFieldset>

                </RadzenTabsItem>
                <RadzenTabsItem Text="Files">
                    <FileUploadEdit UploadedFiles="_uploadedFiles"
                                    EntityName="@nameof(RequirementsFile)"
                                    ExistingFiles="@RequirementsFilesModel.ExistingFiles"/>
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>


        <CreateEditActions EntityName="requirements" CreateEdit="Update"/>
    </RadzenTemplateForm>
}

@code {
    [Parameter] public int Id { get; set; }

    [Parameter] public int ProjectId { get; set; }
    private List<ApplicationUser> _usersList = [];


    int _selectedIndex;
    private Requirements _requirements = new();
    private bool _isLoading = true;

    private readonly List<IBrowserFile>? _uploadedFiles = [];


    protected override async Task OnInitializedAsync()
    {
        _usersList = await UserService.GetUsersList();

        _requirements = await RequirementsModel.GetRequirementByIdAsync(Id);

        if (_requirements.ArchivedStatus.Equals(ArchivedStatus.Archived))
        {
            NavigationManager.NavigateTo($"project/{ProjectId}/requirements", true);
        }


        await RequirementsFilesModel.GetFilesByRequirementId(Id);

        _isLoading = false;
    }


    private async Task UpdateRequirement()
    {
        await RequirementsModel.UpdateRequirement(Id, _uploadedFiles);

        NavigationManager.NavigateTo($"/project/{ProjectId}/requirements");
        StateHasChanged();
        await FormNotificationService.NotifySuccess($"Requirement with Id {_requirements.Id} Updated Successfully");
    }

}