<div style="display: flex; justify-content: center; align-items: center;">
    <RadzenCard Style="max-width: 420px; flex: 1 1 420px; margin: 10px;">
        <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Center"
                     AlignItems="AlignItems.Center">
            <RadzenStack Wrap="FlexWrap.Wrap" Orientation="Orientation.Horizontal">
                <RadzenButton Text="@Loc["Requirements"]"
                              ButtonStyle="ButtonStyle.Warning"
                              Click="@(() => NavigationManager.NavigateTo($"project/{ProjectStateService.ProjectId}/requirements", true))"/>
            </RadzenStack>

            <RadzenStack Wrap="FlexWrap.Wrap" Orientation="Orientation.Horizontal">
                <RadzenBadge BadgeStyle="BadgeStyle.Base" Text="@_requirementsCount"/>
            </RadzenStack>
        </RadzenStack>
    </RadzenCard>

    <RadzenCard Style="max-width: 420px; flex: 1 1 420px; margin: 10px;">
        <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Center"
                     AlignItems="AlignItems.Center">
            <RadzenStack Wrap="FlexWrap.Wrap" Orientation="Orientation.Horizontal">
                <RadzenButton Text="@Loc["TestCases"]"
                              Click="@(() => NavigationManager.NavigateTo($"project/{ProjectStateService.ProjectId}/testcases", true))"/>
            </RadzenStack>
            <RadzenStack Wrap="FlexWrap.Wrap" Orientation="Orientation.Horizontal">
                <RadzenBadge BadgeStyle="BadgeStyle.Base" Text="@_testCasesCount" class="rz-ms-2"/>
            </RadzenStack>
        </RadzenStack>
    </RadzenCard>

    <RadzenCard Style="max-width: 420px; flex: 1 1 420px; margin: 10px;">
        <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Center"
                     AlignItems="AlignItems.Center">
            <RadzenStack Wrap="FlexWrap.Wrap" Orientation="Orientation.Horizontal">
                <RadzenButton Text="@Loc["TestPlans"]"
                              Shade="Shade.Light"
                              Click="@(() => NavigationManager.NavigateTo($"project/{ProjectStateService.ProjectId}/testplans", true))"/>
            </RadzenStack>
            <RadzenStack Wrap="FlexWrap.Wrap" Orientation="Orientation.Horizontal">
                <RadzenBadge BadgeStyle="BadgeStyle.Base" Text="@_testPlansCount"/>
            </RadzenStack>
        </RadzenStack>


    </RadzenCard>


    <RadzenCard Style="max-width: 420px; flex: 1 1 420px; margin: 10px;">

        <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Center"
                     AlignItems="AlignItems.Center">
            <RadzenStack Wrap="FlexWrap.Wrap" Orientation="Orientation.Horizontal">
                <RadzenButton Text="@Loc["TestExecutions"]"
                              ButtonStyle="ButtonStyle.Success"
                              Click="@(() => NavigationManager.NavigateTo($"project/{ProjectStateService.ProjectId}/testexecution", true))"/>
            </RadzenStack>
            <RadzenStack Wrap="FlexWrap.Wrap" Orientation="Orientation.Horizontal">
                <RadzenBadge BadgeStyle="BadgeStyle.Base" Text="@_testExecutionsCount"/>
            </RadzenStack>
        </RadzenStack>
    </RadzenCard>


    <RadzenCard Style="max-width: 420px; flex: 1 1 420px; margin: 10px;">
        <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Center"
                     AlignItems="AlignItems.Center">
            <RadzenStack Wrap="FlexWrap.Wrap" Orientation="Orientation.Horizontal">
                <RadzenButton Text="@Loc["Bugs"]"
                              ButtonStyle="ButtonStyle.Danger"
                              Click="@(() => NavigationManager.NavigateTo($"project/{ProjectStateService.ProjectId}/bugs", true))"/>
            </RadzenStack>
            <RadzenStack Wrap="FlexWrap.Wrap" Orientation="Orientation.Horizontal">
                <RadzenBadge BadgeStyle="BadgeStyle.Base" Text="@_bugsCount"/>
            </RadzenStack>
        </RadzenStack>
    </RadzenCard>

    <RadzenCard Style="max-width: 420px; flex: 1 1 420px; margin: 10px;">
        <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Center"
                     AlignItems="AlignItems.Center">
            <RadzenStack Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap">
                <RadzenButton Text="@Loc["Reports"]"
                              Click="@(() => NavigationManager.NavigateTo($"project/{ProjectStateService.ProjectId}/reports", true))"/>
            </RadzenStack>
            <RadzenStack Wrap="FlexWrap.Wrap" Orientation="Orientation.Horizontal">
                <RadzenBadge BadgeStyle="BadgeStyle.Base" Text="Reports: 3" class="rz-ms-2"/>
            </RadzenStack>
        </RadzenStack>
    </RadzenCard>
</div>


@code {
    private string _requirementsCount = string.Empty;
    private string _testCasesCount = string.Empty;
    private string _testPlansCount = string.Empty;
    private string _testExecutionsCount = string.Empty;
    private string _bugsCount = string.Empty;

    protected override void OnInitialized()
    {
        _requirementsCount = ReportsModel.LoadTotalRequirements();
        _testCasesCount = ReportsModel.LoadTotalTestCases();
        _testPlansCount = ReportsModel.LoadTotalTestPlans();
        _testExecutionsCount = ReportsModel.LoadTotalTestExecutions();
        _bugsCount = ReportsModel.LoadTotalBugs();
    }

}