@page "/project/{ProjectId:int}/testcases/edit/{Id:int}"
@rendermode InteractiveServer
@attribute [Authorize]


<AlertTitle TitleText=@($"Editing test case {Id}")/>

@if (_isLoading)
{
    <ProgressBar/>
}
else
{
    <RadzenTemplateForm Data="@_testCases" TItem="TestCases" Submit="UpdateTestCase">
        <ValidationSummary class="alert alert-danger"/>
        <RadzenTabs RenderMode="TabRenderMode.Client" @bind-SelectedIndex="@_selectedIndex">
            <Tabs>
                <RadzenTabsItem Text="Test Case">

                    <RadzenFieldset Text="Test Cases Details">

                        <!-- Name Field -->
                        <div class="form-group mb-4">
                            <RadzenLabel Text="Name"/>
                            <RadzenTextBox id="name" @bind-Value="_testCases.Name" class="input-style" Name="name"/>
                            <RadzenRequiredValidator Component="name" Text="Name is required"/>
                        </div>

                        <!-- Description Field -->
                        <div class="form-group mb-4">
                            <RadzenLabel Text="Description"/>
                            <RadzenTextBox id="description" @bind-Value="_testCases.Description" class="input-style"
                                           Name="description"/>
                        </div>

                        <!-- Priority Field -->
                        <div class="form-group mb-4">
                            <RadzenLabel Text="Priority"/>
                            <RadzenDropDown id="priority" @bind-Value="_testCases.Priority"
                                            Data="EnumService.GetEnumValues<Priority>()" class="input-style"
                                            Name="priority"/>
                            <RadzenRequiredValidator Component="priority" Text="Priority is required"/>
                        </div>

                        <!-- Test Type Field -->
                        <div class="form-group mb-4">
                            <RadzenLabel Text="Test Type"/>
                            <RadzenDropDown id="test_type" @bind-Value="_testCases.TestType"
                                            Data="EnumService.GetEnumValues<TestTypes>()" class="input-style"
                                            Name="test_type"/>
                            <RadzenRequiredValidator Component="test_type" Text="Test Type is required"/>
                        </div>

                        <!-- Test Scope Field -->
                        <div class="form-group mb-4">
                            <RadzenLabel Text="Test Scope"/>
                            <RadzenDropDown id="test_scope" @bind-Value="_testCases.TestScope"
                                            Data="EnumService.GetEnumValues<TestScope>()" class="input-style"
                                            Name="test_scope"/>
                            <RadzenRequiredValidator Component="test_scope" Text="Test Scope is required"/>
                        </div>

                        <!-- Requirements Field -->
                        <div class="form-group mb-4">
                            <RadzenLabel Text="Requirements"/>
                            <RadzenDropDown id="requirements"
                                            Data="@_requirementsList"
                                            Placeholder="only completed requirements will be displayed"
                                            @bind-Value="TestCasesModel.SelectedRequirementIds"
                                            TextProperty="Name"
                                            ValueProperty="Id"
                                            Multiple="true"
                                            class="input-style"
                                            Name="requirements"
                                            AllowFiltering="true"
                                            AllowVirtualization="true"
                                            FilterPlaceholder="Type to search"/>
                        </div>

                        <div class="form-group mb-4">
                            <RadzenLabel Text="Assigned To"/>
                            <RadzenDropDown id="assignedto"
                                            Data="@_usersList"
                                            @bind-Value="_testCases.AssignedTo"
                                            TextProperty="UserName"
                                            ValueProperty="Id"
                                            class="input-style"
                                            Name="assignedto"/>
                            <RadzenRequiredValidator Component="assignedto" Text="User assignment is required"/>
                        </div>
                    </RadzenFieldset>
                </RadzenTabsItem>
                <RadzenTabsItem Text="Test Steps">
                    <CreateEditTestSteps TestSteps="@TestCasesModel.TestStepsList"
                                         OnTestStepsChanged="@UpdateTestStepsList"
                                         RefreshPage="() => InvokeAsync(RetrieveCurrentTeststepsFromdb)"/>

                    @code{

                        async Task RetrieveCurrentTeststepsFromdb()
                        {
                            TestCasesModel.TestStepsList = await TestStepsModel.GetTestStepsForTestCase(Id);
                        }


                    }

                </RadzenTabsItem>
                <RadzenTabsItem Text="Files" data-testid="testcase_files">
                    <FileUploadEdit EntityName="@nameof(TestCasesFile)"
                                    UploadedFiles="_uploadedFiles"
                                    ExistingFiles="ExistingFiles"/>
                </RadzenTabsItem>
                <RadzenTabsItem Text="Integration">
                    <RadzenLabel Text="External Jira Id"/>
                    <RadzenDropDown id="integration"
                                    AllowFiltering="true"
                                    AllowVirtualization="true"
                                    Placeholder="Select Jira Ticket"
                                    Data="@TestCasesModel.JiraIntegrations"
                                    @bind-Value="TestCasesModel.SelectedJiraTicketIds"
                                    TextProperty="key"
                                    ValueProperty="Id"
                                    Multiple="true"
                                    class="input-style"
                                    Name="integration"/>
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>

        <CreateEditActions EntityName="testcases" CreateEdit="Update"/>
    </RadzenTemplateForm>
}

@code {
    [Parameter] public int Id { get; set; }

    [Parameter] public int ProjectId { get; set; }
    private List<ApplicationUser> _usersList = [];

    private bool _isLoading = true;

    private TestCases _testCases = new();

    int _selectedIndex;
    private readonly List<IBrowserFile>? _uploadedFiles = [];
    public List<TestCasesFile>? ExistingFiles = [];

    private List<Requirements> _requirementsList = [];

    private List<TestCasesJira> _currentjiraIntegrations = [];

    protected override async Task OnInitializedAsync()
    {
        _usersList = await UserService.GetUsersList();

        TestCasesModel.TestStepsList = await TestStepsModel.GetTestStepsForTestCase(Id);

        _requirementsList = await RequirementsModel.GetRequirementsWithWorkflowStatus(WorkflowStatus.Completed, ProjectId);
        _testCases = await TestCasesModel.GetTestCasesByIdAsync(Id);

        await TestCasesModel.GetAssociatedRequirements(_testCases);
        ExistingFiles = await TestCasesFilesModel.GetFilesByTestCaseId(Id);
        //  TestCasesModel.JiraIntegrations = await JiraService.GetProjectIssuesAsync("MFLP");
        TestCasesModel.JiraIntegrations = await JiraServiceFromDb.GetProjectIssuesFromDbAsync("Jira-01", "MFLP");

        _currentjiraIntegrations = await TestCasesJiraModel.GetSelectedJiraTickets(Id);
        TestCasesModel.SelectedJiraTicketIds = _currentjiraIntegrations.Select(j => j.JiraId.ToString()).ToList();

        if (_testCases.ArchivedStatus.Equals(ArchivedStatus.Archived))
        {
            NavigationManager.NavigateTo($"project/{ProjectId}/testcases", true);
        }

        _isLoading = false;
    }


    private void UpdateTestStepsList(List<TestSteps> updatedList)
    {
        TestCasesModel.TestStepsList = new List<TestSteps>(updatedList); // Create a new list reference
        StateHasChanged(); // Notify Blazor to refresh the UI
    }


    private async Task UpdateTestCase()
    {
        UpdateTestStepsList(TestCasesModel.TestStepsList);
        await TestCasesModel.UpdateTestCase(_testCases, _uploadedFiles, ProjectId);
        NavigationManager.NavigateTo($"/project/{ProjectId}/testcases");

        StateHasChanged();
        await FormNotificationService.NotifySuccess($"Test Case with Id {_testCases.Id} Updated Successfully");
    }


}