@page "/project/{ProjectId:int}/testcases/manage"
@rendermode InteractiveServer
@attribute [Authorize]


<AlertTitle TitleText="Managing Test Cases"/>

<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween">
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Start">
        <RadzenButton Icon="assignment_ind" data-testid="my_assignment" Text="My Assignments"
                      Click="RefreshAssignedTestCases"/>
        <RadzenButton Icon="assignment" data-testid="all_assignment" Text="All Test Cases" Click="RefreshAllTestCases"/>
        <RadzenTextBox Placeholder="Search test cases..."
                       Change=@(args => SearchTestCases(args))
                       style="width: 300px"/>
    </RadzenStack>

    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.End">
        <TestCasesDialogCreate Title="@Loc["create.testcases"]" ProjectId="ProjectId"
                               OnTestCaseCreated="@RefreshAssignedTestCasesFromDialog"/>
        <RadzenButton Icon="list"
                      Click='@(() => NavigationManager.NavigateTo($"/project/{ProjectId}/testcases", true))'/>
    </RadzenStack>
</RadzenStack>


<RadzenDropZoneContainer TItem="TestCases" Data="_filteredtestcasesData"
                         ItemSelector="@ItemSelector"
                         ItemRender="WkfManagementCardColor.OnItemRender<TestCases>"
                         CanDrop="@CanDrop"
                         Drop="@OnDrop">
    <ChildContent>
        <RadzenStack Orientation="Orientation.Horizontal" Gap="1rem" Wrap="FlexWrap.Wrap" class="rz-p-12">
            <RadzenDropZone Value="WorkflowStatus.New"
                            class="rz-display-flex rz-flex-column rz-background-color-warning-lighter rz-border-warning-light rz-border-radius-2 rz-p-4"
                            Style="flex: 1; gap: 1rem;">
                <RadzenText Text="New" TextStyle="TextStyle.Subtitle2"/>
            </RadzenDropZone>

            <RadzenDropZone Value="WorkflowStatus.InReview"
                            class="rz-display-flex rz-flex-column rz-background-color-info-lighter rz-border-info-light rz-border-radius-2 rz-p-4"
                            Style="flex: 1; gap: 1rem;">
                <RadzenText Text="In Review" TextStyle="TextStyle.Subtitle2"/>
            </RadzenDropZone>

            <RadzenDropZone Value="WorkflowStatus.Completed"
                            class="rz-display-flex rz-flex-column rz-background-color-success-lighter rz-border-success-light rz-border-radius-2 rz-p-4"
                            Style="flex: 1; gap: 1rem;">
                <RadzenText Text="Completed" TextStyle="TextStyle.Subtitle2"/>
            </RadzenDropZone>

            <RadzenDropZone Value="WorkflowStatus.Reopened"
                            class="rz-display-flex rz-flex-column rz-background-color-danger-lighter rz-border-danger-light rz-border-radius-2 rz-p-4"
                            Style="flex: 1; gap: 1rem;">
                <RadzenText Text="Reopened" TextStyle="TextStyle.Subtitle2"/>
            </RadzenDropZone>
        </RadzenStack>
    </ChildContent>
    <Template>
        <RadzenStack Orientation="Orientation.Vertical" Gap="1rem">
            <RadzenStack Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap">
                <strong>@context.Name</strong>
                <RadzenBadge BadgeStyle="@StylesService.GetBadgeStylePriority(context.Priority)">
                    @context.Priority
                </RadzenBadge>
                <RadzenStack Orientation="Orientation.Vertical">
                    <p>
                        @Task.Run(async () => await UserService.GetUserNameFromUserIdAsync(context.AssignedTo)).Result
                    </p>
                </RadzenStack>

            </RadzenStack>
        </RadzenStack>
    </Template>
</RadzenDropZoneContainer>

@code {
    [Parameter] public int ProjectId { get; set; }


    private async Task RefreshAssignedTestCasesFromDialog()
    {
        await using var db = await DbContext.CreateDbContextAsync();
        _testcasesData = await db.TestCases.Where(rp => rp.ProjectsId == ProjectId).ToListAsync();
        _filteredtestcasesData = _testcasesData;
        StateHasChanged();
    }


    private IList<TestCases>? _testcasesData = [];
    private IList<TestCases>? _filteredtestcasesData = [];

    Func<TestCases, RadzenDropZone<TestCases>, bool> ItemSelector = (item, zone) => item.WorkflowStatus == (WorkflowStatus)zone.Value;

    Func<RadzenDropZoneItemEventArgs<TestCases>, bool> CanDrop = request =>
    {
        return request.FromZone == request.ToZone ||
               Math.Abs((int)request.Item.WorkflowStatus - (int)request.ToZone.Value) == 1;
    };


    async void OnDrop(RadzenDropZoneItemEventArgs<TestCases> args)
    {
        if (args.FromZone != args.ToZone)
        {
            args.Item.WorkflowStatus = (WorkflowStatus)args.ToZone.Value;

            args.Item.ArchivedStatus = args.Item.WorkflowStatus switch
            {
                WorkflowStatus.Completed => ArchivedStatus.Archived,
                WorkflowStatus.InReview => ArchivedStatus.Active,
                WorkflowStatus.Reopened => ArchivedStatus.Active,
                WorkflowStatus.New => ArchivedStatus.Active,
                _ => args.Item.ArchivedStatus
            };

            await using var db = await DbContext.CreateDbContextAsync();
            args.Item.ModifiedBy = UserService.GetCurrentUserNameAsync().Result;
            db.TestCases.Update(args.Item);
            await db.SaveChangesAsync();
        }

        if (args.ToItem == null || args.ToItem == args.Item) return;
        _testcasesData?.Remove(args.Item);
        _testcasesData?.Insert(_testcasesData.IndexOf(args.ToItem), args.Item);
    }

    protected override async Task OnInitializedAsync()
    {
        await using var db = await DbContext.CreateDbContextAsync();
        _testcasesData = await db.TestCases.Where(rp => rp.ProjectsId == ProjectId).ToListAsync();
        _filteredtestcasesData = _testcasesData;
    }

    private async Task<List<TestCases>> GetTestCasesAssignedToAll()
    {
        await using var db = await DbContext.CreateDbContextAsync();
        return await db.TestCases.Where(rp => rp.ProjectsId == ProjectId).ToListAsync();
    }


    private async Task<List<TestCases>> GetTestCasesAssignedToCurrentUser()
    {
        await using var db = await DbContext.CreateDbContextAsync();
        return await db.TestCases.Where(rp => rp.ProjectsId == ProjectId && rp.AssignedTo == UserService.GetCurrentUserInfoAsync().Result.UserId).ToListAsync();
    }

    private async Task RefreshAssignedTestCases()
    {
        _testcasesData = await GetTestCasesAssignedToCurrentUser();
        _filteredtestcasesData = _testcasesData;
        StateHasChanged();
    }

    private async Task RefreshAllTestCases()
    {
        _testcasesData = await GetTestCasesAssignedToAll();
        _filteredtestcasesData = _testcasesData;

        StateHasChanged();
    }

    private string _searchTerm = "";

    private void SearchTestCases(string searchTerm)
    {
        _searchTerm = searchTerm?.ToLower() ?? "";

        if (string.IsNullOrWhiteSpace(_searchTerm))
        {
            _filteredtestcasesData = _testcasesData;
        }
        else
        {
            _filteredtestcasesData = _testcasesData?
                .Where(r => r.Name != null && r.Name.ToLower().Contains(_searchTerm))
                .ToList();
        }

        StateHasChanged();
    }

}
