@page "/project/{ProjectId:int}/testcases/manage"
@rendermode InteractiveServer


<h3>Manage Test Cases</h3>

<RadzenButton Text="My Assignments" Click="RefreshAssignedTestCases" />
<RadzenButton Text="All Test Cases" Click="RefreshAllTestCases" />

<RadzenDropZoneContainer TItem="TestCases" Data="testcasesData"
                             ItemSelector="@ItemSelector"
                             ItemRender="@OnItemRender"
                             CanDrop="@CanDrop"
                             Drop="@OnDrop">
        <ChildContent>
            <RadzenStack Orientation="Orientation.Horizontal" Gap="1rem" Wrap="FlexWrap.Wrap" class="rz-p-12">
                <RadzenDropZone Value="WorkflowStatus.New" class="rz-display-flex rz-flex-column rz-background-color-warning-lighter rz-border-warning-light rz-border-radius-2 rz-p-4" Style="flex: 1; gap: 1rem;">
                    <RadzenText Text="New" TextStyle="TextStyle.Subtitle2" />
                </RadzenDropZone>

                <RadzenDropZone Value="WorkflowStatus.InReview" class="rz-display-flex rz-flex-column rz-background-color-info-lighter rz-border-info-light rz-border-radius-2 rz-p-4" Style="flex: 1; gap: 1rem;">
                    <RadzenText Text="In Review" TextStyle="TextStyle.Subtitle2" />
                </RadzenDropZone>

                <RadzenDropZone Value="WorkflowStatus.Completed" class="rz-display-flex rz-flex-column rz-background-color-success-lighter rz-border-success-light rz-border-radius-2 rz-p-4" Style="flex: 1; gap: 1rem;">
                    <RadzenText Text="Completed" TextStyle="TextStyle.Subtitle2" />
                </RadzenDropZone>

                <RadzenDropZone Value="WorkflowStatus.Reopened" class="rz-display-flex rz-flex-column rz-background-color-danger-lighter rz-border-danger-light rz-border-radius-2 rz-p-4" Style="flex: 1; gap: 1rem;">
                    <RadzenText Text="Reopened" TextStyle="TextStyle.Subtitle2" />
                </RadzenDropZone>
            </RadzenStack>
        </ChildContent>
        <Template>
            <RadzenStack Orientation="Orientation.Vertical" Gap="1rem">
                <RadzenStack Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap">
                    <strong>@context.Name</strong>
                    <RadzenBadge BadgeStyle="@StylesService.GetBadgeStylePriority(context.Priority)">
                        @context.Priority
                    </RadzenBadge>
                    <RadzenStack Orientation="Orientation.Vertical">
                        <p>@UserService.GetUserNameFromUserId(context.AssignedTo)</p>    
                    </RadzenStack>
                    
                </RadzenStack>
            </RadzenStack>
        </Template>
    </RadzenDropZoneContainer>

@code {
    [Parameter] public int ProjectId { get; set; }
    
    
    private IList<TestCases>? testcasesData = [];

    Func<TestCases, RadzenDropZone<TestCases>, bool> ItemSelector = (item, zone) => item.WorkflowStatus == (WorkflowStatus)zone.Value;

    Func<RadzenDropZoneItemEventArgs<TestCases>, bool> CanDrop = request =>
    {
        return request.FromZone == request.ToZone ||
               Math.Abs((int)request.Item.WorkflowStatus - (int)request.ToZone.Value) == 1;
    };

    void OnItemRender(RadzenDropZoneItemRenderEventArgs<TestCases> args)
    {
        args.Attributes["class"] = "rz-card rz-variant-filled rz-background-color-primary-light rz-color-on-primary-light";

        if (args.Item.WorkflowStatus == WorkflowStatus.New)
        {
            args.Attributes["class"] += " rz-border-danger";
        }
    }

    async void OnDrop(RadzenDropZoneItemEventArgs<TestCases> args)
    {
        if (args.FromZone != args.ToZone)
        {
            args.Item.WorkflowStatus = (WorkflowStatus)args.ToZone.Value;

            await using var db = await DbContext.CreateDbContextAsync();
            args.Item.ModifiedBy = UserService.GetCurrentUserNameAsync().Result; 
            db.TestCases.Update(args.Item);
            await db.SaveChangesAsync();
        }

        if (args.ToItem == null || args.ToItem == args.Item) return;
        testcasesData?.Remove(args.Item);
        testcasesData?.Insert(testcasesData.IndexOf(args.ToItem), args.Item);
    }

    protected override async Task OnInitializedAsync()
    {
        await using var db = await DbContext.CreateDbContextAsync();
        testcasesData = await db.TestCases.Where(rp => rp.TcProjectId == ProjectId).ToListAsync(); 
    }
    
    private async Task<List<TestCases>> GetTestCasesAssignedToAll()
    {
        await using var db = await DbContext.CreateDbContextAsync();
        return await db.TestCases.Where(rp => rp.TcProjectId == ProjectId).ToListAsync();
    }
    
    
    
    private async Task<List<TestCases>> GetTestCasesAssignedToCurrentUser()
    {
        await using var db = await DbContext.CreateDbContextAsync();
        return await db.TestCases.Where(rp => rp.TcProjectId == ProjectId && rp.AssignedTo == UserService.GetCurrentUserNameAsync().Result).ToListAsync();
    }
    
    private async Task RefreshAssignedTestCases()
    {
        testcasesData = await GetTestCasesAssignedToCurrentUser();
        StateHasChanged();
    }
    
    private async Task RefreshAllTestCases()
    {
        testcasesData = await GetTestCasesAssignedToAll();
        StateHasChanged();
    }

  
}
