@page "/project/{ProjectId:int}/bugs/edit/{Id:int}"
@rendermode InteractiveServer

<RadzenAlert AllowClose="false" AlertStyle="AlertStyle.Warning"
             Size="AlertSize.Small" Variant="Variant.Filled"
             Shade="Shade.Default" Icon="edit"
             Text="@(req)"/>

@code{
    private string req => $"Editing Bug {Id}";

}



<RadzenTemplateForm Data="@_bugs" Submit="@UpdateBug" TItem="Bugs">
    <ValidationSummary class="alert alert-danger"/>

    <RadzenTabs RenderMode="TabRenderMode.Client" @bind-SelectedIndex="@_selectedIndex">
        <Tabs>
            <RadzenTabsItem Text="Bug">
                <div class="form-group mb-4">
                    <RadzenLabel Text="Name"/>
                    <RadzenTextBox id="name"
                                   data-testid="bug_name"
                                   @bind-Value="_bugs.Name"
                                   class="input-style"
                                   Name="name"/>
                    <RadzenRequiredValidator Component="name" Text="Name is required"/>
                </div>

                <div class="form-group mb-4">
                    <RadzenLabel Text="Description"/>
                    <RadzenTextArea id="description"
                                    data-testid="bug_description"
                                    @bind-Value="_bugs.Description"
                                    class="input-style"
                                    Name="description"/>
                    <RadzenRequiredValidator Component="description" Text="Description is required"/>
                </div>

                <div class="form-group mb-4">
                    <RadzenLabel Text="Priority"/>
                    <RadzenDropDown id="priority"
                                    data-testid="bug_priority"
                                    @bind-Value="_bugs.Priority"
                                    Data="EnumService.GetEnumValues<Priority>()"
                                    class="input-style"
                                    Name="priority"/>
                    <RadzenRequiredValidator Component="priority" Text="Priority is required"/>
                </div>

                <div class="form-group mb-4">
                    <RadzenLabel Text="Severity"/>
                    <RadzenDropDown id="severity"
                                    data-testid="bug_severity"
                                    @bind-Value="_bugs.Severity"
                                    Data="EnumService.GetEnumValues<Severity>()"
                                    class="input-style"
                                    Name="severity"/>
                    <RadzenRequiredValidator Component="severity" Text="Severity is required"/>
                </div>

                <div class="form-group mb-4">
                    <RadzenLabel Text="Bug Status"/>
                    <RadzenDropDown id="bug_status"
                                    data-testid="bug_status"
                                    @bind-Value="_bugs.BugStatus"
                                    Data="EnumService.GetEnumValues<BugStatus>()"
                                    class="input-style"
                                    Name="bug_status"/>
                    <RadzenRequiredValidator Component="bug_status" Text="Bug Status is required"/>
                </div>

                <div class="form-group mb-4">
                    <RadzenLabel Text="Status"/>
                    <RadzenDropDown id="status"
                                    data-testid="bug_wkfstatus"
                                    @bind-Value="_bugs.WorkflowStatus"
                                    Data="EnumService.GetEnumValues<WorkflowStatus>()"
                                    class="input-style"
                                    Name="status"/>
                    <RadzenRequiredValidator Component="status" Text="Workflow Status is required"/>
                </div>

                <div class="form-group mb-4">
                    <RadzenLabel Text="Test Cases"/>
                    <RadzenDropDown id="testcases"
                                    Data="@_testCaseslist"
                                    @bind-Value="BugsModel.SelectedTestCasesIds"
                                    TextProperty="Name"
                                    ValueProperty="Id"
                                    Multiple="true"
                                    class="input-style"
                                    Name="Test Cases"/>
                </div>

                <div class="form-group mb-4">
                    <RadzenLabel Text="Assigned To"/>
                    <RadzenDropDown id="assignedto"
                                    data-testid="bug_assignedto"
                                    Data="@_usersList"
                                    @bind-Value="_bugs.AssignedTo"
                                    TextProperty="UserName"
                                    ValueProperty="Id"
                                    class="input-style"
                                    Name="assignedto"/>
                    <RadzenRequiredValidator Component="assignedto" Text="User assignment is required"/>
                </div>


            </RadzenTabsItem>
            <RadzenTabsItem Text="Files" data-testid="bug_files">
                <FileUploadEdit UploadedFiles="_uploadedFiles"
                                EntityName="@nameof(BugsFiles)"
                                ExistingFiles="@_existingFiles"/>
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
    <CreateEditActions EntityName="bugs" CreateEdit="Update"/>

</RadzenTemplateForm>



@code {
    [Parameter] public int ProjectId { get; set; }
    [Parameter] public int Id { get; set; }
    private List<ApplicationUser> _usersList = [];
    private List<BugsFiles> _existingFiles = [];
    private List<TestCases> _testCaseslist = [];

    private readonly List<IBrowserFile>? _uploadedFiles = [];

    int _selectedIndex;
    private Bugs _bugs = new();

    protected override async Task OnInitializedAsync()
    {
        _usersList = await UserService.GetUsersList();
        _testCaseslist = await TestCasesModel.GetTestCasesWithWorkflowStatus(ProjectId);

        _bugs = await BugsModel.GetBugByIdAsync(Id);
        _existingFiles = await BugsFilesModel.GetBugFilesById(Id);
    }

    private async Task UpdateBug()
    {
        await BugsModel.UpdateBugAsync(Id, _uploadedFiles, ProjectId);
        NavigationManager.NavigateTo($"/project/{ProjectId}/bugs");
        await FormNotificationService.NotifySuccess($"Bug updated successfully with id {_bugs.Id}");
    }


}