@page "/project/{ProjectId:int}/bugs/manage"
@rendermode InteractiveServer

<AlertTitle TitleText="Managing Bugs"/>

<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween">

    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Start">
        <RadzenButton Icon="assignment_ind" Text="My Assignments" data-testid="my_assignment"
                      Click="RefreshAssignedBugs"/>
        <RadzenButton Icon="assignment" data-testid="all_assignment" Text="All Bugs" Click="@RefreshAllBugs"/>
        <RadzenTextBox Placeholder="Search bugs..."
                       Change=@(args => SearchBugs(args))
                       style="width: 300px"/>
    </RadzenStack>

    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.End">
        <BugDialogCreate Title="" ProjectId="ProjectId" OnBugsCreated="@RefreshAllBugs"/>
        <RadzenButton Icon="list"
                      ButtonStyle="ButtonStyle.Warning"
                      MouseEnter="@(args => AppTooltipService.ShowTooltip(args, "Bugs List"))"
                      MouseLeave="@AppTooltipService.HideTooltip"
                      Click='@(() => NavigationManager.NavigateTo($"/project/{ProjectId}/bugs", true))'/>
    </RadzenStack>

</RadzenStack>

<RadzenDropZoneContainer TItem="Bugs" Data="_filteredbugsData"
                         ItemSelector="@ItemSelector"
                         ItemRender="WkfManagementCardColor.OnItemRender<Bugs>"
                         CanDrop="@CanDrop"
                         Drop="@OnDrop">
    <ChildContent>
        <RadzenStack Orientation="Orientation.Horizontal" Gap="1rem" Wrap="FlexWrap.Wrap" class="rz-p-12">
            <RadzenDropZone Value="WorkflowStatus.New"
                            class="rz-display-flex rz-flex-column rz-background-color-warning-lighter rz-border-warning-light rz-border-radius-2 rz-p-4"
                            Style="flex: 1; gap: 1rem;">
                <RadzenText Text="New" TextStyle="TextStyle.Subtitle2"/>
            </RadzenDropZone>

            <RadzenDropZone Value="WorkflowStatus.InReview"
                            class="rz-display-flex rz-flex-column rz-background-color-info-lighter rz-border-info-light rz-border-radius-2 rz-p-4"
                            Style="flex: 1; gap: 1rem;">
                <RadzenText Text="In Review" TextStyle="TextStyle.Subtitle2"/>
            </RadzenDropZone>

            <RadzenDropZone Value="WorkflowStatus.Completed"
                            class="rz-display-flex rz-flex-column rz-background-color-success-lighter rz-border-success-light rz-border-radius-2 rz-p-4"
                            Style="flex: 1; gap: 1rem;">
                <RadzenText Text="Completed" TextStyle="TextStyle.Subtitle2"/>
            </RadzenDropZone>

            <RadzenDropZone Value="WorkflowStatus.Reopened"
                            class="rz-display-flex rz-flex-column rz-background-color-danger-lighter rz-border-danger-light rz-border-radius-2 rz-p-4"
                            Style="flex: 1; gap: 1rem;">
                <RadzenText Text="Reopened" TextStyle="TextStyle.Subtitle2"/>
            </RadzenDropZone>
        </RadzenStack>
    </ChildContent>
    <Template>
        <RadzenStack Orientation="Orientation.Vertical" Gap="1rem"
                     ContextMenu="args => OpenContextMenuForCard(args,context.Id)">
            <RadzenStack Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap">
                <strong>@context.Name</strong>
                <RadzenBadge BadgeStyle="@StylesService.GetBadgeStylePriority(context.Priority)">
                    @context.Priority
                </RadzenBadge>
                <RadzenStack Orientation="Orientation.Vertical">
                    <p>
                        @Task.Run(async () => await UserService.GetUserNameFromUserIdAsync(context.AssignedTo)).Result
                    </p>
                </RadzenStack>

            </RadzenStack>
        </RadzenStack>
    </Template>
</RadzenDropZoneContainer>

@code {
    [Parameter] public int ProjectId { get; set; }


    private IList<Bugs>? _bugsData = [];
    private IList<Bugs>? _filteredbugsData = [];

    readonly Func<Bugs, RadzenDropZone<Bugs>, bool> ItemSelector = (item, zone) => item.WorkflowStatus == (WorkflowStatus)zone.Value;

    readonly Func<RadzenDropZoneItemEventArgs<Bugs>, bool> CanDrop = request =>
    {
        return request.FromZone == request.ToZone ||
               Math.Abs((int)request.Item.WorkflowStatus - (int)request.ToZone.Value) == 1;
    };


    async void OnDrop(RadzenDropZoneItemEventArgs<Bugs> args)
    {
        if (args.FromZone != args.ToZone)
        {
            args.Item.WorkflowStatus = (WorkflowStatus)args.ToZone.Value;

            await using var db = await DbContext.CreateDbContextAsync();
            args.Item.ModifiedBy = UserService.GetCurrentUserNameAsync().Result;
            db.Bugs.Update(args.Item);
            await db.SaveChangesAsync();
        }

        if (args.ToItem == null || args.ToItem == args.Item) return;
        _bugsData?.Remove(args.Item);
        _bugsData?.Insert(_bugsData.IndexOf(args.ToItem), args.Item);
    }

    protected override async Task OnInitializedAsync()
    {
        _bugsData = await BugsModel.GetBugsAsync(ProjectId);
        _filteredbugsData = _bugsData;
    }





    private async Task RefreshAssignedBugs()
    {
        _bugsData = await BugsModel.GetBugsAssignedToCurrentUser(ProjectId);
        _filteredbugsData = _bugsData;

        StateHasChanged();
    }

    private async Task RefreshAllBugs()
    {
        _bugsData = await BugsModel.GetBugsAsync(ProjectId);
        _filteredbugsData = _bugsData;

        StateHasChanged();
    }

    private string _searchTerm = "";

    private void SearchBugs(string searchTerm)
    {
        _searchTerm = searchTerm?.ToLower() ?? "";
        if (string.IsNullOrWhiteSpace(_searchTerm))
        {
            _filteredbugsData = _bugsData;
        }
        else
        {
            _filteredbugsData = _bugsData?
                .Where(r => r.Name != null && r.Name.ToLower().Contains(_searchTerm))
                .ToList();
        }

        StateHasChanged();
    }

    private async Task OpenContextMenuForCard(MouseEventArgs args, int id)
    {
        var testPlans = _filteredbugsData?.FirstOrDefault(r => r.Id == id);
        if (testPlans == null) return;


        var menuItems = new List<ContextMenuItem>();
        menuItems.Add(new ContextMenuItem { Text = "View Bug", Icon = "visibility", Value = "view" });
        menuItems.Add(new ContextMenuItem { Text = "Edit Bug", Icon = "edit", Value = "edit" });

        if (testPlans.WorkflowStatus != WorkflowStatus.Completed)
        {
            menuItems.Add(new ContextMenuItem { Text = "Delete Bug", Icon = "delete", Value = "delete" });
        }

        ContextMenuService.Open(args, menuItems, async e =>
        {
            switch (e.Value)
            {
                case "view":
                    await ViewCard(id);
                    break;
                case "edit":
                    await EditCard(id);
                    break;
                case "delete":
                    await DeleteCard(testPlans);
                    break;
            }
        });
        await Task.CompletedTask;
    }

    private async Task ViewCard(int Id)
    {
    }

    private async Task EditCard(int Id)
    {
    }

    private async Task DeleteCard(Bugs bugs)
    {
    }

}